@import url('https://fonts.googleapis.com/css?family=Oswald|Merriweather+Sans');

/* reset */
* {margin: 0;
  padding: 0;
}

body {
  
  background-image: linear-gradient(#99ccff, #ff9999);
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
  font-size: 1em; 
  
}
h1 {
  font-weight: bold;
  text-align:center;  
  color: #ffffff;
  margin: 2% 0 1% 0;/*30px 0 30px 0*/
  font-family: 'Merriweather Sans', sans-serif;
}

h1:hover {
	transform: scale(1.18);
}
 
h2 ,h3 ,h4 ,h5 ,h6 {
  font-weight: bold; 
  color: #ffffff;
  margin: 1% 0 1% 0;/*5px 0 5px 0*/
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  }
  
a:link, a:visited {
  color: #2b7fa4;
  
}

a:hover, a:active {
  color: #333;
}

#wrapper {
  width: 98% /*960px*/;
  max-width: 960px;
  margin: 0 auto;
  margin-top:2% /*20px*/;
  margin-bottom:2% /*20px*/;
  background: #284066;
  border: 3px solid #ffffff;
  border-radius: 22px;  
}

 header h1 {
  float:inherit;
  font-size: 3em;
  margin: 1% 0 1% 0; /*0 0 18px 10px*/
}

header img{
  width: 100%;
}

nav {
  width:100%;
  background: #d8d6bc;
  font-weight: bold;
  display: table;
  height: 20%;
}

nav ul {
  display:table-row;
  list-style: none;
 }
  
nav ul li {
  display:table-cell;
  text-align:center;
  padding: 0.4%;
 }
 
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black; 
  transition: all 1s ease 1s;
}       
nav ul li a:hover {
  color:#428aff;
  text-shadow:1px 1px 0px black;
  background:#575d66;
	}
  
nav a {
  text-decoration: none;
  color: #ffffff;
  float: left;
  padding: 4% 0 4% 0; /*10px 10px*/
}

nav a:hover {
  text-decoration: underline;
}


main {
  
  
  
}

#content {
  float:left;
  width:65%;/*680px*/;
  border-right:2px solid #888;
}

article {
  background: #284066;
  margin: 2%; /*20px*/
  padding: 1%; /*10px*/
}

img.slika1, img.slika2, img.slika3 {
    box-shadow:2px 2px 0px #20242b;
    max-width:100%;/*170px*/
	min-width:150px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

img.slika1:hover {
	transform: scale(1.5);
}

img.slika2:hover {
	transform: scale(1.5);
}

img.slika3:hover {
	transform: scale(1.5);
}

img.slika1 {
  float:left;
  margin-right:1%; 
}

img.slika2 {
  float: right;
  margin-left:1%;
}
  
img.slika3 {
  float:left;
  margin-right:1%; 
}

aside{
  float:right;
  width:28%;/*260px*/
  margin: 0 auto;
  padding: 2%;
}

aside h3 {
  font-size:1.2em;  
}

footer {
  text-align:center;
  clear:both;
  background:#d8d6bc;
  border-radius:0px 0px 19px 19px;
}

footer p {
  text-align:center;
  padding:1%;
  color:#000000;  
}

iframe {
  width:100%;
  height:360px;
}